$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// settings
$initial-lamplet-color: #e5147f;
$lamplet-size: 18px;

// lighting colors
$colors: #e30d20 #e8611e #f19725 #fdee35 #e30f53 #885a9f #5f549e #90c132 #e2147f #179c96 #1ba2e6 #2daa40 #ab5fa0 #8aacd8 #ffffff #000000;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

// keyframes mixin
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{ $animation-name } {
    @content;
  }

  @-moz-keyframes #{ $animation-name } {
    @content;
  }

  @-ms-keyframes #{ $animation-name } {
    @content;
  }

  @keyframes #{ $animation-name } {
    @content;
  }
}

@mixin animation($str) {
          animation: #{ $str };
       -o-animation: #{ $str };
      -ms-animation: #{ $str };
     -moz-animation: #{ $str };
  -webkit-animation: #{ $str };
}

// star night mask
@include keyframes(move-twink-back) {
  from { background-position: 0 0; }
  to   { background-position: -10000px 5000px; }
}

// lamplet move
@include keyframes(lamplet-sine) {
  0%   { @include translate(0, 0); }
  100% { @include translate(0, 5px); }
}

@include keyframes(lamplet-sine-reverse) {
  0%   { @include translate(0, 5px); }
  100% { @include translate(0, 0); }
}

// lamplet light twinkling
@include keyframes(light-twinkling) {
  0%   { @include scale(0.7); @include opacity(0.8); }
  100% { @include scale(1.1); @include opacity(0.5); }
}

.stars, .twinkling, .clouds {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  z-index: -1;
}

.stars {
  background: black url(/images/stars.png) repeat top center;
}

.twinkling {
  background: transparent url(/images/twinkling.png) repeat top center;
  @include animation('move-twink-back 200s linear infinite');
}

// Lamplets
.lamplets {
  padding: 0;
  margin-top: 33%;
  z-index: 3;

  li {
    list-style: none;
    margin-bottom: 40px;

    &:nth-child(2n) {
      @include animation('lamplet-sine 1.5s linear infinite alternate');
    }

    &:nth-child(2n-1) {
      @include animation('lamplet-sine-reverse 1.5s linear infinite alternate');
    }

    > button {
      position: relative;
      display: inline-block;
      margin: 0;
      width: $lamplet-size;
      height: $lamplet-size;
      border-radius: 50%;
      z-index: 3;

      &:before, &:after {
        content: "";
        position: absolute;
        width: $lamplet-size;
        height: $lamplet-size;
        top: 50%;
        left: 50%;
        margin: -9px 0 0 -9px;
        border-radius: 50%;
        z-index: 3;
        @include opacity(0.7);
      }

      &:after {
        @include transition(500ms);
      }
    }

    @for $i from 1 through length($colors) {
      button.color-#{ $i } {
        &:before, &:after {
          background: nth($colors, $i);
          @include animation("light-twinkling 2s linear infinite alternate")
        }

        &:before {
          @include box-shadow(0 0 12px 12px nth($colors, $i));
        }
      }
    }

    // Palette
    > .palette {
      position: absolute;
      margin-top: 30px;
      height: 285px;
      width: 285px;
      background-color: rgba(84, 75, 90, 0.4);
      box-shadow: 0 0 1px 1px rgba(84, 75, 90, 0.7);
      padding: 20px;
      border: none;
      z-index: 5;

      > .palette-item {
        display: inline-block;
        height: 50px;
        width: 50px;
        margin: 5px;
        z-index: 5;
        border: none;
        box-shadow: none;
      }

      @for $i from 1 through length($colors) {
        > .palette-item.color-#{ $i } {
          background-color: nth($colors, $i);
        }
      }
    }
  }
}

.game-start-wrapper {
  margin-top: 27%;
}
