<div class="container-fluid clearfix" ng-controller="MainCtrl">
  <!-- Star night mask -->
  <div class="star-night-mask">
    <div class="stars"></div>
    <div class="twinkling"></div>
  </div>
  <!-- Lamplets -->
  <div class="container">
    <ul class="lamplets clearfix">
      <li ng-repeat="lamplet in lamplets" class="col-md-1 col-sm-2 col-xs-3">
        <button ng-style="background: {{ lamplet.color }};"></button>
      </li>
    </ul>

    <p class="game-start-wrapper text-center">
      <button class="button button-pill button-large button-royal button-longshadow" id="game-start-button">Start</button>
    </p>
  </div>
</div>
