<div class="container-fluid clearfix" ng-controller="MainCtrl" ng-click="hidePalette()">
  <!-- Star night mask -->
  <div class="star-night-mask">
    <div class="stars"></div>
    <div class="twinkling"></div>
  </div>
  <!-- Lamplets -->
  <div class="container">
    <ul class="lamplets clearfix">
      <li ng-repeat="lamplet in lamplets" class="col-md-1 col-sm-2 col-xs-3">
        <!-- Lamplet -->
        <button class="{{ lamplet.__class() }}" ng-click="showPalette(lamplet, $event)"></button>

        <!-- Light tail -->
        <span class="light-tail" ng-show="lamplet.tail"></span>

        <!-- Palette for change color -->
        <div class="palette" ng-show="lamplet.palette.visible">
          <button ng-repeat="color in lamplet.palette.colors"
            class="palette-item {{ lamplet.palette.discern(color) }}"
            ng-click="lamplet.setColor(color)" >
          </button>
        </div>
      </li>
    </ul>

    <p class="game-start-wrapper text-center">
      <button class="button button-pill button-large button-royal button-longshadow"
        id="game-start-button"
        ng-click="gameStart()"
        ng-show="startButton" >Start</button>
    </p>

    <!-- Count down -->
    <div id="count-down" ng-show="countDown">
      <span class="three {{ countDown ? 'animate' : ''}}"></span>
      <span class="two   {{ countDown ? 'animate' : ''}}"></span>
      <span class="one   {{ countDown ? 'animate' : ''}}"></span>
    </div>

    <!-- Process bar -->
    <div id="process-bar" ng-show="processBar">
      <div class="process {{ processBar ? 'animate' : '' }}"></div>
    </div>

    <!-- Game over -->
    <div id="game-over" ng-show="gameOver">
      <div class="container">
        <p class="game-over">
          <img src="/images/gameover.png" alt="Game Over" class="img-responsive">
        </p>
        <p class="actions">
          <a class="exit" ng-click="exit()" href="#"></a>
          <a class="restart" ng-click="restart()" href="#"></a>
          <a class="share" ng-click="share()" href="#"></a>
        </p>
      </div>
    </div>
  </div>
</div>
